.logo {
  position: absolute;
  background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 39px;
  width: 132px;
  margin-left: 189px;
  margin-top: 20px;
}

.main-nav {
  position: relative;
  background-color: black;
  height: 80px;
  display: flex;
}

ul {
  color: white;
}

ul li {
  display: inline;
}
ul .spl {
  padding: 28px;
}

ul .ntspl {
  padding: 5px;
}

ul .nspl {
  padding: 25px;
}

.nav-links {
  position: absolute;
  left: 836px;
  top: 28px;
}

.spl:hover {
  color: #10dd58;
  cursor: pointer;
}

.nspl:hover {
  color: #10dd58;
  cursor: pointer;
}
